<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title id="color">PUBLISHNED</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="textura">

  <br>
  <br>

  <h2>INICIO DE</h2>
  <H2>SESIÓN</H2>

  <br>
  <br>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item lines="full">
      <ion-label position="floating">DNI</ion-label>
      <ion-input formControlName="dni" type="number" required></ion-input>
    </ion-item>

    <BR>
    <BR>
    <BR>

    <ion-item lines="full">
      <ion-label position="floating">Constraseña</ion-label>
      <ion-input formControlName="contraseña" type="password" required></ion-input>
    </ion-item>

    <BR>
    <BR>
    <BR>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="secondary" shape="round" style="padding-left: 22%;">Iniciar Sesión</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-button (click)="regresar()" type="button" color="medium" shape="round" style="padding-left: 25%;"> 
    Regresar 
    <ion-icon slot="start" name="arrow-undo-outline"></ion-icon>
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar color="mycolor">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>