<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bienvenido al Sistema</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item lines="full">
      <ion-label position="floating">DNI</ion-label>
      <ion-input formControlName="dni" type="number" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Constraseña</ion-label>
      <ion-input formControlName="contraseña" type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="secondary" shape="block">Iniciar Sesión</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-button type="button" color="success" (click)="newUser()" shape="block">Crear Usuario</ion-button>
</ion-content>

<!-- (click)="presentAlert()" -->