<ion-header>
  <ion-toolbar>
    <ion-title>Venta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ventaForm">
    <br>
    <br>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Empleados</ion-label>
        <ion-select formControlName="idempleado" interface="popover" placeholder="Seleccione el empleado">
          <ion-select-option *ngFor="let empleado of empleados" [value]="empleado.id">{{empleado.apellidopaterno}} {{empleado.apellidomaterno}}, {{empleado.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <br>
    <br>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Clientes</ion-label>
        <ion-select formControlName="idcliente" interface="popover" placeholder="Seleccione el cliente">
          <ion-select-option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.apellidopaterno}} {{cliente.apellidomaterno}}, {{cliente.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
  <form [formGroup]="ventadetalleForm">
    <br>
    <br>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Servicios</ion-label>
        <ion-select formControlName="idservicio" interface="popover" placeholder="Seleccione el servicio">
          <ion-select-option *ngFor="let servicio of servicios" [value]="servicio">{{servicio.nombre}} === S/.{{servicio.precio}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <br>
    <br>
    <ion-item>
      <ion-label position="stacked">Cantidad</ion-label>
      <ion-input formControlName="cantidad" placeholder="Ingrese la cantidad" type="number"></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-item>
      <ion-label position="stacked">Notas</ion-label>
      <ion-input formControlName="notas" placeholder="Ingrese algún requerimiento del cliente" type="text"></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-button style="padding-left: 18%;" (click)="navigateCarrito()" color="light">
      <ion-icon slot="start" name="card-outline"></ion-icon>
      Carrito
    </ion-button>

    <ion-button (click)="agregarServicio()">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      Añadir
    </ion-button>
  </form>
</ion-content>
