<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <ion-searchbar [formControl]="searchControl" placeholder="Buscar Cliente"></ion-searchbar>

  <ion-button (click)="newCliente()">Nuevo Cliente</ion-button>

  <ion-list>
    <ion-item *ngFor="let cliente of clientes">
      <ion-label>{{cliente.nombre}}, {{cliente.apellidopaterno}} {{cliente.apellidomaterno}}</ion-label>
      <ion-button (click)="editarCliente(cliente)" color="success">Editar</ion-button>
      <ion-button (click)="delete(cliente.id)" color="danger">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>