<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-card *ngFor="let servicio of servicios">
      <img src="assets/img/{{servicio.id}}.jpg"/>
      <ion-card-header>
        <ion-card-title>{{servicio.nombre}}</ion-card-title>
        <ion-card-subtitle>{{servicio.categoria}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label>S/.{{servicio.precio}}</ion-label>
          <ion-badge slot="end">{{servicio.stock}}</ion-badge>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>