<ion-header>
  <ion-toolbar>
    <img src="assets/avatar/h publicidad.png">
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="fondo" style="position: relative;">
    <h3 id = 'Titulo1'>BIENVENIDO A</h3>
    <h3 id = 'Titulo2'>PUBLISHNED</h3>
  </div>
  <div id = "fondo2" style="position: absolute;">
    <p id="fondo3">.</p>
  </div>

  <br>

  <p id="texto">Encuentra tu servicio ideal al mejor precio</p>


  <br>
  <br>
  <br>
  <ion-button (click)="ingresar()" style="padding-left: 26%;">
    INICIAR SESIÓN
    <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
  </ion-button>

  <p id="texto">Te damos la bienvenida, disfruta de los precios</p>

  <br>
  <br>
  <br>
  <ion-button type="button" (click)="newUser()" style="padding-left: 22%;" color="warning">
    CREAR UNA CUENTA
    <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
  </ion-button>

  <p id="texto">No tienes una cuenta que esperas crea una</p>

</ion-content>
